// Variables

$peacock: #33A1C9;
$black: black;
$text-color: #222;
$background: #96CDCD;
$coral:#fa8072;
$skyblue:#4A708B;
$med-purple: #AB82FF;
$silver:#E6E8FA;
$ghostwhite:#F8F8FF;
$white: white;
//font
$bold: bold;
$playball:'Playball', cursive;
